In [1]:
%load_ext autoreload
%autoreload 2
import sentenceSimilarityMethods

In [2]:
import json
import os
import nltk
import re
import pandas as pd
import JobOffers
import tensorflow_hub as hub
import numpy as np

In [3]:
from scipy import spatial

In [4]:
autoreload JobOffers

In [5]:
alljobs = JobOffers.readJsonFile("output_V1.1.json")

In [6]:
import tokenizers
from easynmt import EasyNMT
model = EasyNMT('opus-mt')

In [7]:
#alljobs = JobOffers.addTranslation(alljobs, "output_V1.1.translate.json", maxWrite=100)

In [8]:
alljobs = JobOffers.readJsonFile("output_V1.1.translate.json")

In [9]:
jobsDf = pd.DataFrame(np.array(([x["ID"] for x in alljobs], [x["TOKENIZED_JOBS"] for x in alljobs]), dtype='object').T, columns = ["JOB_ID", "JOB_CONTENT"] )

In [10]:
jobsSentences = np.array([y for x in jobsDf["JOB_CONTENT"] for y in x])

In [11]:
#Activities Json
activitesJson = JobOffers.readJsonFile("Dataset_Classes.json", encoding="utf-8")

In [12]:
#Old activities CSV that I will work with for now
oldActs = pd.read_csv(os.path.expanduser("~/Desktop/Thesis/Data/Activities.csv"), error_bad_lines=False)

In [13]:
oldActsDf = oldActs.rename(columns={'O*Net\nMétiers verts' : "ACTIVITY_ID", 'O"Net: Détails des activités pour les métiers verts' : "ACTIVITY_CONTENT"})

In [14]:
slimmedActsDf = oldActsDf[["ACTIVITY_ID", "ACTIVITY_CONTENT"]][~oldActsDf["ACTIVITY_CONTENT"].isna()]

In [15]:
slimmedActsDf.loc[slimmedActsDf["ACTIVITY_ID"].isna(), 'ACTIVITY_ID'] = slimmedActsDf[slimmedActsDf["ACTIVITY_ID"].isna()].index

In [16]:
slimmedActsDf

       ACTIVITY_ID                                   ACTIVITY_CONTENT
0                0  Where and how are the information and data gai...
1                1   Observing, receiving, and otherwise obtaining...
3    4.A.1.a.1.G01  Collect geographic information systems (GIS) d...
4    4.A.1.a.1.G02                           Collect geological data.
5    4.A.1.a.1.G03    Collect data about green practices or programs.
..             ...                                                ...
225  4.A.4.b.6.G08      Provide technical guidance on green projects.
226            226  Performing day-to-day administrative tasks suc...
227  4.A.4.c.1.G01                                    Obtain permits.
228            228   Recruiting, interviewing, selecting, hiring, ...
229            229   Monitoring and controlling resources and over...

[219 rows x 2 columns]

In [17]:
activitiesSentences = slimmedActsDf["ACTIVITY_CONTENT"].to_numpy()

In [18]:
allSentences = np.concatenate((jobsSentences, activitiesSentences))

In [19]:
import logging
logging.getLogger("tensorflow").setLevel(logging.ERROR)

In [20]:
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4" #@param ["https://tfhub.dev/google/universal-sentence-encoder/4", "https://tfhub.dev/google/universal-sentence-encoder-large/5"]
model = hub.load(module_url)
def embed(input):
  return model(input)

INFO:absl:Using /var/folders/k1/s5r_rds12x52scbksr0dfg3m0000gn/T/tfhub_modules to cache modules.

In [21]:
len(slimmedActsDf)

219

In [22]:
allSentences

array(['We are a successful and independent engineering office in Schönried',
       ' To strengthen our team and to optimally process the manifold interesting objects, we are looking for civil engineering MW of their work areas of constructive engineering construction both in project planning and in the construction management of general low and road construction',
       ' Your profile You have a completed studies as a civil engineer ETHTUFH',
       ..., 'Obtain permits.',
       ' Recruiting, interviewing, selecting, hiring, and promoting employees in an organization.',
       ' Monitoring and controlling resources and overseeing the spending of money.'],
      dtype=object)

In [23]:
for i, x in enumerate(allSentences):
    if type(x) != str:
        print(i, x)

In [24]:
allSentences = np.concatenate((jobsSentences, activitiesSentences))

In [25]:
allEmbeddings = embed(allSentences)

In [26]:
len(allEmbeddings)

1044

In [27]:
allEmbeddings

<tf.Tensor: shape=(1044, 512), dtype=float32, numpy=
array([[-0.04822776, -0.02858711, -0.06559009, ...,  0.01871002,
        -0.0613087 , -0.00590269],
       [ 0.0207816 ,  0.03388791,  0.04297301, ...,  0.0401625 ,
        -0.04559466,  0.00078988],
       [ 0.04384393, -0.05652945,  0.00356796, ...,  0.00565387,
        -0.02749583, -0.04372038],
       ...,
       [ 0.01992017, -0.07031337,  0.01158184, ...,  0.02191224,
         0.03360986, -0.01287735],
       [ 0.0046779 , -0.07686147, -0.00192719, ...,  0.04384581,
        -0.01931715,  0.04942223],
       [ 0.06814821, -0.04083548,  0.06860898, ...,  0.02696883,
        -0.0426277 ,  0.07055186]], dtype=float32)>

In [28]:
jobBoundaries = np.cumsum([len(x) for x in jobsDf["JOB_CONTENT"]])
jobBoundaries

array([ 11,  21,  28,  30,  51,  53,  69,  70,  83,  96, 108, 110, 111,
       119, 121, 123, 135, 139, 159, 179, 188, 199, 201, 203, 210, 219,
       227, 236, 238, 255, 272, 274, 285, 307, 313, 327, 334, 338, 352,
       353, 364, 369, 376, 396, 404, 414, 428, 462, 469, 499, 501, 506,
       517, 524, 531, 534, 547, 566, 573, 582, 593, 595, 597, 599, 601,
       608, 617, 641, 661, 674, 676, 690, 692, 694, 696, 704, 706, 727,
       729, 739, 741, 743, 745, 747, 749, 760, 762, 775, 777, 784, 792,
       794, 796, 798, 800, 802, 812, 821, 823, 825])

In [29]:
def matchToJob(row):
    first = jobBoundaries[row.name-1] if row.name != 0 else 0
    last = jobBoundaries[row.name]
    return allEmbeddings[first:last]

In [30]:
jobsDf["JOB_SCORES"] = jobsDf.apply(matchToJob, axis=1)

In [31]:
jobsDf

,JOB_ID,JOB_CONTENT,JOB_SCORES
0,12220025,[We are a successful and independent engineeri...,"((tf.Tensor(-0.04822776, shape=(), dtype=float..."
1,10814567,[We are a prestigious and successful engineeri...,"((tf.Tensor(-0.020631889, shape=(), dtype=floa..."
2,12401674,[Bill Weyermann Partner AG has been producing ...,"((tf.Tensor(0.055472188, shape=(), dtype=float..."
3,12473085,[Administration Communale de Valderuzforstarti...,"((tf.Tensor(0.019481275, shape=(), dtype=float..."
4,12905109,[The Straumann Group is experiencing internati...,"((tf.Tensor(-0.022287764, shape=(), dtype=floa..."
...,...,...,...
95,13469747,[Commune de Lausanne Service of the Parcs Et D...,"((tf.Tensor(0.06673486, shape=(), dtype=float3..."
96,13494906,[Quality Assurance Engineer Bern Switzerland Y...,"((tf.Tensor(-0.010205403, shape=(), dtype=floa..."
97,13517245,[Solution-oriented creative and dynamic We are...,"((tf.Tensor(-0.055482067, shape=(), dtype=floa..."
98,13461980,[Green Blue Gardener Garden and Landscaping Ef...,"((tf.Tensor(-0.008430735, shape=(), dtype=floa..."
99,13462067,[Haas Gartenbau Aggartenner in Garden and land...,"((tf.Tensor(-0.002503812, shape=(), dtype=floa..."

In [32]:
slimmedActsDf["ACTIVITY_SCORES"] = allEmbeddings[-1*(len(slimmedActsDf)):]

In [33]:
len(slimmedActsDf["ACTIVITY_SCORES"][0])

512

In [34]:
dist = spatial.distance.cosine(jobsDf["JOB_SCORES"][0][0], slimmedActsDf["ACTIVITY_SCORES"][0])

In [35]:
dist

0.9204563945531845

In [36]:
resultsDf = pd.DataFrame()

In [37]:
resultsDf["JOB_ID"] = jobsDf["JOB_ID"]

In [38]:
resultsDf["JOB_SCORES"] = jobsDf["JOB_SCORES"]

In [39]:
resultsDf = resultsDf.merge(slimmedActsDf, how = "cross")

In [40]:
len(resultsDf["ACTIVITY_SCORES"])

21900

In [41]:
resultsDf = resultsDf[["JOB_ID", "ACTIVITY_ID", "JOB_SCORES", "ACTIVITY_SCORES"]]

In [42]:
resultsDf

,JOB_ID,ACTIVITY_ID,JOB_SCORES,ACTIVITY_SCORES
0,12220025,0,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.027285306, shape=(), dtype=float3..."
1,12220025,1,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.07172423, shape=(), dtype=float32..."
2,12220025,4.A.1.a.1.G01,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.061349783, shape=(), dtype=float3..."
3,12220025,4.A.1.a.1.G02,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.04309698, shape=(), dtype=float32..."
4,12220025,4.A.1.a.1.G03,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.035856005, shape=(), dtype=float3..."
...,...,...,...,...
21895,13462067,4.A.4.b.6.G08,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0028080945, shape=(), dtype=float..."
21896,13462067,226,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(-0.008161316, shape=(), dtype=float..."
21897,13462067,4.A.4.c.1.G01,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.019920168, shape=(), dtype=float3..."
21898,13462067,228,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0046779006, shape=(), dtype=float..."
21899,13462067,229,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.06814821, shape=(), dtype=float32..."

In [43]:
row = resultsDf.loc[0,:]

In [44]:
def compareSentences(row):
    for sentence in resultsDf["JOB_SCORES"]:
        return spatial.distance.cosine(row["JOB_SCORES"][sentence], row["ACTIVITY_SCORES"])

In [45]:
def distCalc(row):
    distArray = []
    for entry in row["JOB_SCORES"] :
        dist = spatial.distance.cosine(entry, row["ACTIVITY_SCORES"])
        distArray.append(dist)
    return distArray

In [64]:
row = resultsDf.loc[0,:]

In [46]:
resultsDf["DISTANCES"] = resultsDf.apply(distCalc, axis =1)

In [49]:
resultsDf

,JOB_ID,ACTIVITY_ID,JOB_SCORES,ACTIVITY_SCORES,DISTANCES
0,12220025,0,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.027285306, shape=(), dtype=float3...","[0.9204563945531845, 0.9612990096211433, 0.896..."
1,12220025,1,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.07172423, shape=(), dtype=float32...","[1.1060239672660828, 0.9814335498958826, 0.960..."
2,12220025,4.A.1.a.1.G01,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.061349783, shape=(), dtype=float3...","[1.02582386136055, 1.048024758696556, 0.852094..."
3,12220025,4.A.1.a.1.G02,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.04309698, shape=(), dtype=float32...","[1.0590376444160938, 1.0112552838400006, 0.829..."
4,12220025,4.A.1.a.1.G03,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.035856005, shape=(), dtype=float3...","[1.0500608645379543, 1.095018446445465, 0.9780..."
...,...,...,...,...,...
21895,13462067,4.A.4.b.6.G08,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0028080945, shape=(), dtype=float...","[0.9995186589076184, 1.2212068736553192]"
21896,13462067,226,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(-0.008161316, shape=(), dtype=float...","[0.977263942360878, 0.9934241622686386]"
21897,13462067,4.A.4.c.1.G01,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.019920168, shape=(), dtype=float3...","[0.9572820700705051, 0.9627352058887482]"
21898,13462067,228,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0046779006, shape=(), dtype=float...","[0.8675366938114166, 0.8801782131195068]"
21899,13462067,229,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.06814821, shape=(), dtype=float32...","[0.9900918966159225, 1.0790960937738419]"

In [67]:
def bestMatchFinder(row) :
    minDistance = min(row["DISTANCES"])
    return minDistance

In [68]:
resultsDf["BEST_ACTIVITY_MATCH"] = resultsDf.apply(bestMatchFinder, axis =1)

In [71]:
np.argmin(resultsDf["BEST_ACTIVITY_MATCH"])

14851

In [72]:
resultsDf.loc[14851,:]

JOB_ID                                                          13583336
ACTIVITY_ID                                                4.A.4.a.6.G04
JOB_SCORES             ((tf.Tensor(-0.019486245, shape=(), dtype=floa...
ACTIVITY_SCORES        (tf.Tensor(-0.042908337, shape=(), dtype=float...
DISTANCES              [1.0609365440905094, 0.9880833635106683, 1.114...
bestMatch                                                           None
BEST_ACTIVITY_MATCH                                             0.459543
Name: 14851, dtype: object

In [73]:
resultsDf

,JOB_ID,ACTIVITY_ID,JOB_SCORES,ACTIVITY_SCORES,DISTANCES,bestMatch,BEST_ACTIVITY_MATCH
0,12220025,0,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.027285306, shape=(), dtype=float3...","[0.9204563945531845, 0.9612990096211433, 0.896...",None,0.670784
1,12220025,1,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.07172423, shape=(), dtype=float32...","[1.1060239672660828, 0.9814335498958826, 0.960...",None,0.730214
2,12220025,4.A.1.a.1.G01,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.061349783, shape=(), dtype=float3...","[1.02582386136055, 1.048024758696556, 0.852094...",None,0.852094
3,12220025,4.A.1.a.1.G02,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.04309698, shape=(), dtype=float32...","[1.0590376444160938, 1.0112552838400006, 0.829...",None,0.814106
4,12220025,4.A.1.a.1.G03,"((tf.Tensor(-0.04822776, shape=(), dtype=float...","(tf.Tensor(0.035856005, shape=(), dtype=float3...","[1.0500608645379543, 1.095018446445465, 0.9780...",None,0.923093
...,...,...,...,...,...,...,...
21895,13462067,4.A.4.b.6.G08,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0028080945, shape=(), dtype=float...","[0.9995186589076184, 1.2212068736553192]",None,0.999519
21896,13462067,226,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(-0.008161316, shape=(), dtype=float...","[0.977263942360878, 0.9934241622686386]",None,0.977264
21897,13462067,4.A.4.c.1.G01,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.019920168, shape=(), dtype=float3...","[0.9572820700705051, 0.9627352058887482]",None,0.957282
21898,13462067,228,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.0046779006, shape=(), dtype=float...","[0.8675366938114166, 0.8801782131195068]",None,0.867537
21899,13462067,229,"((tf.Tensor(-0.002503812, shape=(), dtype=floa...","(tf.Tensor(0.06814821, shape=(), dtype=float32...","[0.9900918966159225, 1.0790960937738419]",None,0.990092

In [78]:
job1 = resultsDf[resultsDf["JOB_ID"] == 12220025]
minEntry = np.argmin(job1["BEST_ACTIVITY_MATCH"])
job1.loc[minEntry,:]

JOB_ID                                                          12220025
ACTIVITY_ID                                                4.A.4.b.1.G09
JOB_SCORES             ((tf.Tensor(-0.04822776, shape=(), dtype=float...
ACTIVITY_SCORES        (tf.Tensor(0.05714458, shape=(), dtype=float32...
DISTANCES              [0.7911518663167953, 0.6139824390411377, 0.747...
bestMatch                                                           None
BEST_ACTIVITY_MATCH                                             0.578821
Name: 194, dtype: object

In [80]:
slimmedActsDf[slimmedActsDf["ACTIVITY_ID"]=="4.A.4.b.1.G09"]

,ACTIVITY_ID,ACTIVITY_CONTENT,ACTIVITY_SCORES
205,4.A.4.b.1.G09,Manage engineering or construction activities.,"(tf.Tensor(0.05714458, shape=(), dtype=float32..."

In [84]:
job1Df = jobsDf[jobsDf["JOB_ID"]==12220025]

In [87]:
print([x for x in job1Df["JOB_CONTENT"]])

[['We are a successful and independent engineering office in Schönried', ' To strengthen our team and to optimally process the manifold interesting objects, we are looking for civil engineering MW of their work areas of constructive engineering construction both in project planning and in the construction management of general low and road construction', ' Your profile You have a completed studies as a civil engineer ETHTUFH', ' You want to gain experience in configuration and construction management', ' They are all over and want to develop develops are used to deal with pressure and can also retain the tranquility in hectic situations', ' Your chances You can extend your knowledge and experience in a small motivated team with modern work equipment and interesting objects', ' You will get the opportunity to grow on the task', ' Further information and application We are at your disposal for more information and look forward to receiving your application', ' Please send your documents preferably by email to Clewi Haldi Clewaihaldi', ' EU We look forward to receiving contact', ' Haldi Design AG Schönried']]

In [89]:
for id in jobsDf["JOB_ID"] :
    bestOverallActivityMatch = np.argmin(resultsDf[resultsDf["JOB_ID"] == id]["BEST_ACTIVITY_MATCH"])
    return bestOverallActivityMatch

TypeError: object of type 'int' has no len()